/* COLORS
main-red
#fa5252
dark
#e03131
bright
#ff6b6b


orange
main-orange
#ffc078
dark
#ff922b
bright
#ffd8a8





*/
html {
  font-size: 62.5%;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

p {
  line-height: 1.5;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}

.primary-header {
  display: inline-block;
  font-size: 128px;

  color: #ccc;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
  background: -webkit-linear-gradient(rgb(238, 238, 238), #313130fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.secondary-header {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  font-size: 4.8rem;
  color: #ccc;
}

.tertiary-header {
  color: #444;
  font-size: 3.2rem;
  padding-bottom: 2.4rem;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

.hero-img {
  width: 100vw;
  transform: translateY(-25rem);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
  filter: brightness(40%) grayscale(20%);
}

.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 10.8rem;
  width: 100%;
  background-color: #2222228a;
  color: #ccc;
  font-size: 2.4rem;
  justify-content: space-around;
  z-index: 99999999999999999999999999;
}
.logo {
  width: 24rem;
  transform: translate(-1rem, -7rem);
}

.nav-list {
  list-style: none;
  height: 100%;
  gap: 3.2rem;
  align-items: center;
}
.hero-section {
  height: 100vh;
}
.hero-section .container {
  height: 100vh;
}

.container {
  justify-content: space-around;
  margin: 0 auto 0 auto;
  padding: 6.4rem 3.2rem;
}

.about-us-section {
  font-size: 1.8rem;
  background-color: rgb(228, 226, 226);
}

.about-us-section .container {
  row-gap: 12.8rem;
  column-gap: 8rem;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  position: relative;
}

.about-us-section .container::after {
  content: "";
  position: absolute;

  top: 17%;
  left: 50%;
  height: 80%;
  width: 0;
  border-left: dotted 1px rgba(221, 220, 220, 0.527);
}

.about-us-section .secondary-header {
  color: #333;
  padding: 0 0 0.8rem 0;
}
.about-us-section .header {
  grid-column: 1/-1;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 0;
}

.about-us-img {
  width: 100%;
}

.gallery-section .container {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.568);
}
.gallery {
  position: relative;
  width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.gallery-images {
  width: 65rem;
  position: relative;
  height: 43.4rem;
  overflow: hidden;
}

.gallery-image {
  width: 65rem;
  height: 43.4rem;

  animation-duration: 1s;
  position: absolute;
  left: 0px;
  opacity: 0;
}

.gallery-image:first-child {
  opacity: 1;
}

.gallery-btn {
  position: absolute;
  top: 50%;

  z-index: 9999999999999;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
.gallery-btn-right {
  left: 100%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.gallery-btn-left {
  left: 0;
  transform: translate(-50%, -50%);
}

.gallery-btn-img {
  /* transform: translateY(1px); */
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: #ddd;
}

@keyframes moveLeft {
  from {
    opacity: 1;
    transform: translate(-100%);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveLeftAgain {
  to {
    opacity: 1;
    transform: translate(100%);
  }
}

@keyframes moveRight {
  from {
    opacity: 1;
    transform: translate(100%);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRightAgain {
  to {
    opacity: 1;
    transform: translate(-100%);
  }
}

/* Reviews section */

/* .reviews-section {
}


.reviews-images {
  background-color: black;
  width: 100%;
  overflow: hidden;
  gap: 4rem;
  position: absolute;
}
.review-image {
  height: 20rem;
  transition: transform 4s;
  position: relative;
}

.review-image.move-right {
  left: 0;
  transform: translateX(-100%);
} */
